*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
   font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  background-color: #f8fffc;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo span {
  font-size: 22px;
  font-weight: bold;
  color: #187b5d;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 10px;
  font-size: 18px;
}

.nav-links li {
  position: relative;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
  display: block;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: 0.3s ease-out;
}

.nav-links a:hover {
  background-color: #3faf99;
  color: #fff;
  border-radius: 0.3rem;
}

.drop-down {
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  background: #3faf99;
  border-radius: 7px;
  font-size: 17px;
  padding: 0.5rem;
  margin-top: 0.3rem;
  z-index: 999;
  min-width: 160px;
}

.nav-link:hover .drop-down {
  display: block;
}

.drop-down li {
  padding: 0.5rem 1rem;
  color: #fff;
  cursor: pointer;
  font-weight: 900;
}

.arrow {
  font-size: 1.07em;
  margin-left: 5px;
}

.nav-buttons {
  display: flex;
  gap: 15px;
}

.btn img.icon {
  width: 25px;   
  height: 25px;
  margin-right: 8px;      
  vertical-align: middle;
}

.btn {
  text-decoration: none;
  padding: 16px 20px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
 
.appointment-btn {
  background-color: #3faf99;
  color: white;
  font-size: 18px;
}

.appointment-btn:hover {
  background-color: #2f8c74;
}

.login-btn {
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 18px;
  transition: 0.3 ease-out;
}

.login-btn:hover {
  background-color:#3faf99;
  color: #FFF;
}

.menu-toggle {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px 0;
    z-index: 1000;
  }

  .nav-links.show {
    display: flex;
  }

  .nav-buttons {
    display: none;
  }

  .menu-toggle {
    display: block;
  }

  .navbar {
    flex-wrap: wrap;
  }
}
